<div class="container">
    <div class="mt-5 mb-5">
        <div style="color: white;
        margin-left: 5px;
        margin-bottom: 10px;
        font-size: 22px;
        text-align: center;">Create auto-compounding vault</div>
        <div class="text-center" style="color: white;">Choose protocol to farm LP tokens</div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="row" style="align-items: center;
            justify-content: space-between;">
                <div class="col-md-6">
                    <div style="    background: #2d325a;
                    color: white;
                    padding: 20px;
                    border-radius: 15px;">
                        <div class="row" style="display: flex;
                        justify-content: space-between;
                        align-items: center;">
                            <div class="col-md-8">
                                <div>
                                    <img src="assets/icon/pancake.png">
                                    <span>Pancakeswap</span>
                                    <span style="    background: linear-gradient(90deg, #003F79 0%, #5E309B 100%);
                                    padding: 10px;
                                    margin-left: 12px;
                                    border-radius: 10px;">{{aprValue}}%</span>
                                </div>
                                <div>
                                    Take advantage of high-yield LPs without getting exposure to the assets. Maximise your returns on the blue-chip coins.
                                </div>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn_cstm" (click)="selectLp()">Select</button>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-6" style="cursor: no-drop;" [attr.disabled]="true">
                    <div style="    background: #2d325a;
                    color: white;
                    padding: 20px;
                    border-radius: 15px;">
                        <div class="row" style="display: flex;
                        justify-content: space-between;
                        align-items: center;">
                            <div class="col-md-8">
                                <div>
                                    <img src="assets/icon/pancake.png">
                                    <span>ONI Protocol</span>
                                    <span style="    background: linear-gradient(90deg, #003F79 0%, #5E309B 100%);
                                    padding: 10px;
                                    margin-left: 12px;
                                    border-radius: 10px;">{{aprValue}}%</span>
                                </div>
                                <div>
                                    Take advantage of high-yield LPs without getting exposure to the assets. Maximise your returns on the blue-chip coins.
                                </div>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn_cstm">Select</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div
  class="modal fade"
  id="profile"
  tabindex="-1"
  role="dialog"
  aria-labelledby="profileModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content cust_modal">
      <div class="modal_close" data-dismiss="modal" aria-label="Close">
      </div>
      <div class="modal-body">
        <div data-dismiss="modal" aria-label="Close" class="modal_close" (click)="closePopup()">
          <i class="fa fa-times fr cursor_pointer" aria-hidden="true"></i>
        </div>
        <ng-container class="mb-2">
          <div class="mb-4">
            <span style="font-weight: 600; font-size: 18px"  >Create Vault</span >
          </div>
          <div>
            <form [formGroup]="valutCreateForm">
              <div class="form-group row mb-2">
                <label for="vaultName" class="col-sm-3 col-form-label">Vault Name</label>
                <div class="col-sm-9">
                  <input type="input" class="form-control" id="vaultName" placeholder="Vault Name" formControlName="vaultName">
                </div>
              </div>
              <div class="form-group row align-items-center">
                <label for="permission" class="col-sm-3 col-form-label">Permission</label>
                <div class="col-sm-4">
                  <!-- <p-radioButton name="groupname" value="val1" formControlName="permission">a</p-radioButton> -->
                  <label>
                    <input type="radio" value="private" formControlName="permission">
                      <span>Private</span>
                  </label>
                </div>
                <div class="col-sm-4">
                  <!-- <p-radioButton name="groupname" value="val2" formControlName="permission">b</p-radioButton> -->
                  <label>
                    <input type="radio" value="whitelisted" formControlName="permission" [attr.disabled]="true">
                      <span>Whitelisted</span>
                  </label>
                </div>
              </div>
              <div class="form-group row">
                <label for="vaultType" class="col-sm-3 col-form-label">Vault Type</label>
                <div class="col-sm-9">
                  <input type="text" readonly class="form-control-plaintext" id="vaultType" formControlName="vaultType">
                </div>
              </div>
              <div class="form-group row">
                <label for="lpPair" class="col-sm-3 col-form-label">LP Pair</label>
                <div class="col-sm-9">
                  <input type="text" readonly class="form-control-plaintext" id="lpPair" formControlName="lpPair">
                </div>
              </div>
              <div class="form-group row">
                <label for="protocol" class="col-sm-3 col-form-label">DEX</label>
                <div class="col-sm-9">
                  <input type="text" readonly class="form-control-plaintext" id="protocol" formControlName="protocol">
                </div>
              </div>
              <div class="form-group row">
                <label for="chain" class="col-sm-3 col-form-label">Chain</label>
                <div class="col-sm-9">
                  <input type="text" readonly class="form-control-plaintext" id="chain" formControlName="chain">
                </div>
              </div>
              <div class="btn_pos mt-4 mb-2">
                <div> <button class="btn btn-custom" type="button" (click)="deploy()">Deploy</button></div>
                <div> <button class="btn btn-custom" type="button" (click)="closePopup()">Back</button></div>

              </div>
            </form>
          </div>
        </ng-container>
       <div>
       </div>

      </div>
    </div>
  </div>
</div>
<p-toast></p-toast>
