<div class="container">
    <div class="mt-5 mb-5">
        <div style="color: white;
        margin-left: 5px;
        margin-bottom: 10px;
        font-size: 22px;
        text-align: center;">Select a staking pool to farm LP tokens</div>
        <div class="text-center" style="color: white;">Need help? See our <a target="_blank" href="https://rivera.gitbook.io/docs/guides/build-your-farming-vault">vault builder guide</a></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="row" style="display: flex;
            flex-direction: column;
            align-items: center;">
                <div class="col-md-6" style="margin-bottom: 20px;">
                    <div style="    background: #2d325a;
                    color: white;
                    padding: 20px 20px 30px 30px;
                    border-radius: 15px;">
                        <div class="row" style="display: flex;
                        justify-content: space-between;
                        align-items: center;">
                            <div class="col-md-8">
                                <div>
                                    <img src="assets/icon/pancake.png" style="margin-left: -18px;">
                                    <span>PancakeSwap (V2)</span>
                                    <span style="    background: linear-gradient(90deg, #003F79 0%, #5E309B 100%);
                                    padding: 10px;
                                    margin-left: 12px;
                                    border-radius: 10px;">{{apr}}%</span>
                                </div>
                                <div>
                                  PancakeSwap (V2) is a popular decentralized exchange (DEX) allowing BEP-20 token swaps on the BNB Chain. Stake LP tokens to farm CAKE.
                                </div>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn_cstm" (click)="selectLp()">Select</button>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- <div class="col-md-6" style="cursor: no-drop;" [attr.disabled]="true">
                    <div style="    background: #2d325a;
                    color: white;
                    padding: 20px 20px 30px 30px;
                    border-radius: 15px;">
                        <div class="row" style="display: flex;
                        justify-content: space-between;
                        align-items: center;">
                            <div class="col-md-8">
                                <div>
                                    <img src="assets/icon/omni.png" style="    width: 50px;
                                    margin-right: 15px;
                                    margin-bottom: 18px;
                                    margin-top: 14px;">
                                    <span>ONI Protocol</span>
                                    <span style="    background: linear-gradient(90deg, #003F79 0%, #5E309B 100%);
                                    padding: 10px;
                                    margin-left: 12px;
                                    border-radius: 10px;">{{aprValue - 2}}%</span>
                                </div>
                                <div>
                                  ONI is a new perpetual exchange on BSC. Stake your LP tokens to provide concentrated liquidity at ONI protocol and farm ONI token in reward.
                                </div>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn_cstm">Select</button>
                            </div>
                        </div>

                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>


<div
  class="modal fade"
  id="profile"
  tabindex="-1"
  role="dialog"
  aria-labelledby="profileModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content cust_modal">
      <div class="modal_close" data-dismiss="modal" aria-label="Close">
      </div>

      <div class="modal-body" *ngIf="!isDeployed">
        <div data-dismiss="modal" aria-label="Close" class="modal_close" (click)="closePopup()">
          <i class="fa fa-times fr cursor_pointer" aria-hidden="true"></i>
        </div>
        <ng-container class="mb-2">
          <div class="mb-4">
            <!-- <span style="font-weight: 600; font-size: 18px"  >Create Vault</span > -->
              <div style="color: white;
              margin-left: 5px;
              margin-bottom: 10px;
              font-size: 22px;
              text-align: center;">Select Vault Settings</div>
              <div class="text-center" style="color: white;margin-bottom: 30px;">Need help? See our <a target="_blank" href="https://rivera.gitbook.io/docs/guides/build-your-farming-vault">vault builder guide</a></div>
          </div>
          <div>
            <form [formGroup]="valutCreateForm">
              <div class="form-group row mb-2">
                <label for="vaultName" class="col-sm-3 col-form-label">Vault Name</label>
                <div class="col-sm-9">
                  <input type="input" class="form-control" id="vaultName" placeholder="Stablecoin LP farming" formControlName="vaultName">
                </div>
              </div>
              <div class="form-group row align-items-center">
                <label for="permission" class="col-sm-3 col-form-label">Permission</label>
                <div class="col-sm-3">
                  <label>
                    <input type="radio" value="private" formControlName="permission">
                      <span style="margin-left: 5px;">Private</span>
                  </label>
                </div>
                <div class="col-sm-3">
                  <label>
                    <input type="radio" value="KYCED" formControlName="permission" [attr.disabled]="true">
                      <span style="margin-left: 5px;">KYC'ed</span>
                  </label>
                </div>
                <div class="col-sm-3">
                  <label>
                    <input type="radio" value="whitelisted" formControlName="permission" [attr.disabled]="true">
                      <span style="margin-left: 5px;">Public</span>
                  </label>
                </div>
              </div>
              <div class="form-group row">
                <label for="vaultType" class="col-sm-3 col-form-label">Vault Type</label>
                <div class="col-sm-9">
                  <input type="text" readonly class="form-control-plaintext" id="vaultType" formControlName="vaultType">
                </div>
              </div>
              <div class="form-group row">
                <label for="lpPair" class="col-sm-3 col-form-label">LP Pair</label>
                <div class="col-sm-9" style="display: flex;align-items: center;">
                  <img [src]="quoteTokenImage" style="width: 20px;height:20px;margin-left: 5px;margin-right: 2px;">
                        <img [src]="tokenImage" style="width: 18px;height:18px;margin-left: -8px;margin-right: 10px;">
                  <input type="text" readonly class="form-control-plaintext" id="lpPair" formControlName="lpPair">
                </div>
              </div>
              <div class="form-group row">
                <label for="protocol" class="col-sm-3 col-form-label">DEX</label>
                <div class="col-sm-9">
                  <input type="text" readonly class="form-control-plaintext" id="protocol" formControlName="protocol">
                </div>
              </div>
              <div class="form-group row">
                <label for="chain" class="col-sm-3 col-form-label">Farming</label>
                <div class="col-sm-9">
                  <input type="text" readonly class="form-control-plaintext" id="chain" formControlName="chain">
                </div>
              </div>
              <div class="form-group row">
                <label for="apy" class="col-sm-3 col-form-label">APY</label>
                <div class="col-sm-9">
                  <span style="text-decoration: line-through;">{{apr}}%</span> &nbsp;&nbsp;<span style="font-size: 22px;">{{netApyToShow}}%</span>
                  <br>
                  <span>Powered by Rivera automation</span>
                  <!-- <input type="text" readonly class="form-control-plaintext" id="apy" formControlName="apy"> -->
                </div>
              </div>
              <div class="btn_pos mt-4 mb-2">
                <div> <button class="btn btn-custom" type="button" (click)="deploy()"><img *ngIf="btn_loader" src="assets/icon/btn_loader.gif" style="width: 18px;
                  margin-right: 5px;">Deploy</button></div>
                <div> <button class="btn btn_cstm" type="button" (click)="closePopup()">Back</button></div>

              </div>
            </form>
          </div>
        </ng-container>
       <div>
       </div>

      </div>

      <div class="modal-body text-center" *ngIf="isDeployed">
        <div class="mb-4 mt-2 text-center">
          <i class="pi pi-check-circle" style="font-size: 50px;"></i>
            <!-- <img class="img-fluid logo-sz" src="https://issuerpanel.authlink.com/assets/img/ICONS/right_tick.png" alt=""> -->
        </div>
        <ng-container class="mb-2">
          <h4 class="text-center" style="font-weight: 600;font-size: 20px;">Your vault deployment is successful</h4>
          <h6 class="text-center mb-4" style="font-size: 12px;">Strategy Note: You have deployed an automated vault that adds liquidity to the selected LP pool on Pancakeswap DEX. Received LP tokens will be staked at Pancakeswap to farm CAKE. Farming rewards will be harvested periodically and exchanged for LP tokens to add to the principal amount. </h6>
      </ng-container>
        <button type="button" (click)="goToDashboard()" class="btn btn-custom mb-2">Go to Dashboard</button>
    </div>

    </div>
  </div>
</div>
<p-toast></p-toast>
