.vlt_btn{
  color: white;
  text-decoration: none;
}
.first_section_box1{
  // background: red;
  padding: 22px;
}
.second_section_box1{
  display: flex;
    justify-content: space-between;
    align-items: center;
}
