.vlt_btn{
  color: white;
  text-decoration: none;
}
.first_section_box1{
  // background: red;
  padding: 22px;
}
.second_section_box1{
  display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn_cstm{
  border: 1px solid #8B54EA;
  border-radius: 10px;
  color: white;
  width: 110px;
  height: 35px;
  align-items: center;
  display: flex;
  justify-content: center;
}

:host ::ng-deep .p-button {
  margin: 0 .5rem 0 0;
  min-width: 10rem;
}

.confirmation-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

:host ::ng-deep .p-dialog .p-button {
  min-width: 6rem;
}
.btn_pos{
  display: flex;
  justify-content: space-evenly;
}
.cnt_btn_txt{
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
}
.first_section_box1_back_img{
  background-image: url('/assets/icon/home_side_bar.png');
  margin: 0px -12px;
  background-position: bottom;
  border-radius: 15px 15px 0px 0px;
  background-size: cover;
  height: 120px;
}
