<div class="container">
  <div *ngIf="!isLogin" style="margin-top: 5%; text-align: center; display: flex;align-items:center;flex-direction: column;">
    <div style=" width: 35vw !important;
    background-color: #FF4500;padding: 20px;margin-bottom: 30px;    color: white;">

        <div style="font-size: 24px;
        font-weight: 600;">
          <img src="assets/icon/warning.svg" class="wrn_icon_wdth"> MVP TESTING RISK NOTICE <img class="wrn_icon_wdth" src="assets/icon/warning.svg">
  </div>
        Rivera contracts are NOT audited yet.<br> You may lose ALL funds deposited into Rivera-powered strategy vaults.
        All funds deposited are subjected to smart contract risks, strategy execution failure risks, liquidation risks, liquidity risks, investment risks and more.<br>
        By continuing, you are acknowledging that you understand the risks involved.
    </div>
    <div class="cnt_btn_txt">Please connect your wallet to get started.</div>
    <button class="mb-3" class="btn btn-custom" (click)="connectWallet()">
      Connect
    </button>
  </div>

  <div *ngIf="isLogin">
    <div *ngIf="!isValutCreated" style="margin-top: 15%; text-align: center">
      <div class="cnt_btn_txt">This wallet address is not whitelisted in any Rivera vault.</div>
      <button class="mb-3" class="btn btn-custom" (click)="createValut()">
        Create New Vault
      </button>
    </div>
    <div *ngIf="isValutCreated">
      <!-- <div>
      <button class="mb-3" class="btn btn-custom" (click)="createValut()">
        Create New Vault
      </button>
    </div> -->
      <div class="row mt-4">
        <div class="col-md-4 box_outer">
          <div class="first_section_box1 first_section_box1_back_img" style="    font-size: 20px;">
            <div>Vault Holdings</div>
            <div style="font-size: 26px;font-weight:600">$ 150,750.22</div>
          </div>
          <div class="second_section_box1 mt-4" style="padding: 5px 10px;">
            <div>
              <span>Overall Returns</span><br />
              <span  class="third_text_color">$14,680.12</span><br />
              <span  class="third_text_color">+36.71%</span>
            </div>
            <div>
              <div style="width: 150px;
              margin-right: -35px;margin-bottom: 8px;">
                <img src="assets/icon/demo3.png" style="    width: 150px;">
              </div>
             <img src="assets/icon/dollar_round.png" style="width: 35px;margin-right: 5px;">
             <img src="assets/icon/btc_round.png" style="width: 35px;margin-right: 5px;">
             <img src="assets/icon/eth_round.png" style="width: 35px;">
            </div>
          </div>
          <div class="mt-4" style="padding: 5px 10px;font-size: 14px;">
            <div class="second_section_box1 mb-4">
              <div><img src="assets/icon/btc_clr_round.png" style="width: 25px;margin-right: 6px;"> BTC</div>
              <!-- <div>BTC</div> -->
              <div>Bitcoin</div>
              <div>4.21</div>
              <div>$ 79,990.22</div>
            </div>
            <div class="second_section_box1 mb-4">
              <div><img src="assets/icon/eth_clr_round.png" style="width: 25px;margin-right: 6px;"> ETH</div>
              <!-- <div>ETH</div> -->
              <div>Ethereum</div>
              <div>20.50</div>
              <div>$ 30,750.34</div>
            </div>
            <div class="second_section_box1 mb-4">
              <div><img src="assets/icon/thether_clr_round.png" style="width: 25px;margin-right: 6px;"> USDT</div>
              <!-- <div>USDT</div> -->
              <div>Tether</div>
              <div>7,500.00</div>
              <div>$ 7,500.00</div>
            </div>
            <div class="second_section_box1 mb-4">
              <div><img src="assets/icon/matic_clr_round.png" style="width: 25px;margin-right: 6px;"> MATIC</div>
              <!-- <div>MATIC</div> -->
              <div>Polygon</div>
              <div>7,326.00</div>
              <div>$ 5,860.81</div>
            </div>
            <div class="second_section_box1 mb-4">
              <div><img src="assets/icon/sol_clr_round.png" style="width: 25px;margin-right: 6px;"> SOL</div>
              <!-- <div>SOL</div> -->
              <div>Solana</div>
              <div>187.22</div>
              <div>$ 5,429.58</div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="row" style="justify-content: space-evenly;">
              <div class="col-md-5 box_outer" style="padding: 22px;margin-bottom: 20px;" *ngFor="let valut of valutAddressList">
                <!-- {{valut.__zone_symbol__value | json}} -->
                <div  style="display: flex; justify-content: space-between;align-items: center;" class="mb-3">
                  <div (click)="goToSetup(valut?.type)" style="cursor: pointer;"><img src="assets/icon/networkIcon.png" style="    width: 30px;
                    margin-right: 16px;">{{valut?.name}}</div>
                  <!-- <div *ngIf="valut?.lpPairName != 'Delta neutral vault'"><img src="assets/icon/ShareNetwork.png" style="width: 25px;"> </div> -->
                  <div *ngIf="valut?.lpPairName == 'Delta neutral vault'"><img src="assets/icon/demoOnly.png" style="    width: 150px;
                    margin-right: -52px;"></div>
                </div>
                <div  style="display: flex; justify-content: space-between;align-items: center;" class="mb-3">
                  <div>Auto-compounding vault</div>
                  <div>{{valut?.type}}</div>
                </div>
                <div  style="display: flex; justify-content: space-between;align-items: center;" class="mb-3">
                  <div>Balance <br>${{valut?.balance}}</div>
                  <div *ngIf="valut?.lpPairName != 'Delta neutral vault'"> Current APY <br> 19.67%</div>
                  <div *ngIf="valut?.lpPairName == 'Delta neutral vault'"> Current APY <br> 0%</div>
                </div>
                <div  style="display: flex; justify-content: space-between;align-items: center;" class="mb-4">
                  <div>Assets <br><img src="assets/icon/cake.png" style=" width: 25px;
                    margin-right: -10px;"><img src="assets/icon/busd.png" style="width: 25px;margin-right: 16px;"></div>
                  <div> Protocol <br><img src="assets/icon/cake.png" style="width: 25px;margin-right: 16px;"></div>
                </div>

                <div  style="display: flex;justify-content: space-around;">
                 <div>
                  <button class="btn btn_cstm" [disabled]="valut?.type == 'Whitelisted'" (click)="showBasicDialog(valut, 'deposit')">Deposit</button>
                 </div>
                 <div>
                  <button class="btn btn_cstm" [disabled]="valut?.type == 'Whitelisted'" (click)="showBasicDialog(valut, 'withdraw')">Withdraw</button>
                 </div>
                </div>
              </div>
              <div class="col-md-5 box_outer" style="padding: 22px;position: relative;">
                <div style="position: absolute;
                top: 22px;
                right: -29px;">
                  <img src="assets/icon/demo3.png" style="    width: 150px;">
                </div>
                <div  style="display: flex; justify-content: space-between;align-items: center; " class="mb-3">
                  <div style="font-weight: 600;margin-bottom: 10px;    font-size: 18px;">Risk Notifications</div>
                  <!-- <div><img src="assets/icon/ShareNetwork.png" style="width: 25px;"> </div> -->
                </div>
                <div  style="display: flex; justify-content: space-between;align-items: center;" class="mb-3">
                  <div><img src="assets/icon/vector_error.png" style="width: 18px;margin-right: 10px;">High IL risk in ETH-DOV Vault</div>
                </div>
                <div  style="display: flex; justify-content: space-between;align-items: center;" class="mb-3">
                  <div><img src="assets/icon/vector_error.png" style="width: 18px;margin-right: 10px;">High liquidation risk in ETH-Neutral Vault </div>
                </div>
                <div  style="display: flex; justify-content: space-between;align-items: center;" class="mb-3">
                  <div><img src="assets/icon/vector_warning.png" style="width: 18px;margin-right: 10px;"></div>
                  <div>UST is depegging. Refrain from using in strategies</div>
                </div>
                <div  style="display: flex; justify-content: space-between;align-items: center;" class="mb-3">
                  <div><img src="assets/icon/vector_warning.png" style="width: 18px;margin-right: 10px;"></div>
                  <div>Transit Swap hacked for $16M, do not use in strategies</div>
                </div>
              </div>
              <div class="col-md-5 box_outer" style="padding: 22px;position: relative;">
                <div style="position: absolute;
                top: 22px;
                right: -29px;">
                  <img src="assets/icon/demo3.png" style="    width: 150px;">
                </div>
                <div  style="display: flex; justify-content: space-between;align-items: center; " class="mb-3">
                  <div style="font-weight: 600;margin-bottom: 10px;    font-size: 18px;">Strategy of the day</div>
                  <!-- <div><img src="assets/icon/ShareNetwork.png" style="width: 25px;"> </div> -->
                </div>
                <div  style="display: flex; justify-content: space-between;align-items: center;" class="mb-3">
                  <div><img src="assets/icon/strategy.png" style="width: 100%;"> </div>
                </div>

                <div  style="display: flex;justify-content: space-around;">
                 <div>
                  <button class="btn btn-custom"><img src="assets/icon/vector_icon.png" style="width: 14px;"> Launch vault</button>
                 </div>
                 <div>
                  <button class="btn btn_cstm" >Learn more</button>
                 </div>
                </div>
              </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<div
  class="modal fade"
  id="depositModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="profileModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content cust_modal">
      <div class="modal_close" data-dismiss="modal" aria-label="Close">
      </div>
      <div class="modal-body" *ngIf="!isDepositOrWithdrawstart">
        <div data-dismiss="modal" aria-label="Close" class="modal_close" (click)="closePopup()">
          <i class="fa fa-times fr cursor_pointer" aria-hidden="true"></i>
        </div>
        <ng-container class="mb-2">
          <div class="mb-4">
            <span style="font-weight: 600" *ngIf="isDeposit">Deposit your LP or ZAP in {{lpPairToken1Name}} or {{lpPairToken2Name}}</span >
              <span style="font-weight: 600" *ngIf="!isDeposit">Withdraw your LP or ZAP in {{lpPairToken1Name}} or {{lpPairToken2Name}}</span >
          </div>
          <div>
            <form [formGroup]="valutCreateForm">

               <div class="form-group row align-items-center">
                <label for="permission" class="col-sm-3 col-form-label" style="margin-top: -18px;
                margin-bottom: 8px;">WALLET</label>
                <div class="col-sm-12 radioButton_height">
                  <label>
                    <input type="radio" value="private" formControlName="permission">
                      <span style="margin-left: 5px;"><img src="assets/icon/cake.png" style="width: 20px;margin-left: 5px;margin-right: 2px;">
                        <img src="assets/icon/busd.png" style="width: 18px;margin-left: -8px;margin-right: 2px;">
                        <span> {{lpPairName}}</span>
                      </span>
                  </label>
                </div>
                <div class="col-sm-12 radioButton_height">
                  <label>
                    <input type="radio" value="whitelisted" formControlName="permission" [attr.disabled]="true">
                      <span style="margin-left: 5px;"><img src="assets/icon/cake.png" style="width: 20px;
                        margin-left: 5px;
                        margin-right: 2px;">{{lpPairToken1Name}}</span>
                  </label>
                </div>
                <div class="col-sm-12 radioButton_height">
                  <label>
                    <input type="radio" value="whitelisted2" formControlName="permission" [attr.disabled]="true">
                      <span style="margin-left: 5px;"><img src="assets/icon/busd.png" style="width: 18px;
                        margin-left: 5px;
                        margin-right: 2px;">{{lpPairToken2Name}}</span>
                  </label>
                </div>
                <!-- <div class="col-sm-12">
                  <button class="btn btn_cstm">Buy Token</button>
                </div> -->
              </div>
              <div class="form-group row mb-2 mt-2" *ngIf="isApprove">
                <label for="vaultName" class="col-sm-3 col-form-label">Amount</label>
                <div class="col-sm-9">
                  <input type="input" class="form-control" id="vaultName" placeholder="Amount" formControlName="amount">
                </div>
              </div>
              <!--
              <div class="form-group row">
                <label for="vaultType" class="col-sm-3 col-form-label">Vault Type</label>
                <div class="col-sm-9">
                  <input type="text" readonly class="form-control-plaintext" id="vaultType" formControlName="vaultType">
                </div>
              </div>
              <div class="form-group row">
                <label for="lpPair" class="col-sm-3 col-form-label">LP Pair</label>
                <div class="col-sm-9">
                  <input type="text" readonly class="form-control-plaintext" id="lpPair" formControlName="lpPair">
                </div>
              </div>
              <div class="form-group row">
                <label for="protocol" class="col-sm-3 col-form-label">Protocol</label>
                <div class="col-sm-9">
                  <input type="text" readonly class="form-control-plaintext" id="protocol" formControlName="protocol">
                </div>
              </div>
              <div class="form-group row">
                <label for="chain" class="col-sm-3 col-form-label">Chain</label>
                <div class="col-sm-9">
                  <input type="text" readonly class="form-control-plaintext" id="chain" formControlName="chain">
                </div>
              </div> -->
              <div class=" mt-4 mb-2 d-flex align-items-center justify-content-center" >
                <div> <button *ngIf="!isApprove" class="btn btn-custom" type="button" (click)="approve()">Approve</button></div>
                <!-- <div> <button class="btn btn-custom" type="button" (click)="checkApproval()">Check</button></div> -->
                <div> <button *ngIf="isApprove && isDeposit" class="btn btn-custom" type="button" (click)="deposit()">  <img *ngIf="btn_loader" src="assets/icon/btn_loader.gif" style="width: 18px;
                  margin-right: 5px;">Deposit</button></div>
                <div> <button *ngIf="isApprove && !isDeposit" class="btn btn-custom" type="button" (click)="withdraw()"><img *ngIf="btn_loader" src="assets/icon/btn_loader.gif" style="width: 18px;
                  margin-right: 5px;">Withdraw</button></div>

              </div>
            </form>
          </div>
        </ng-container>
       <div>
       </div>

      </div>
      <div class="modal-body text-center" *ngIf="isDepositOrWithdrawstart">
        <div class="mb-4 mt-2 text-center">
          <i class="pi pi-check-circle" style="font-size: 50px;"></i>
            <!-- <img class="img-fluid logo-sz" src="https://issuerpanel.authlink.com/assets/img/ICONS/right_tick.png" alt=""> -->
        </div>
        <ng-container class="mb-2">
          <h4 *ngIf="isDeposit" class="text-center" style="font-weight: 600;font-size: 20px;">Your deposit is in progress.</h4>
          <h4 *ngIf="!isDeposit" class="text-center" style="font-weight: 600;font-size: 20px;">Your withdraw is in progress.</h4>
          <h6 class="text-center mb-4" style="font-size: 12px;">Waiting for transaction confirmation on Blockchain. </h6>
      </ng-container>
        <button type="button" (click)="refresh()" class="btn btn-custom mb-2">Refresh</button>
    </div>
    </div>
  </div>
</div>
<p-toast></p-toast>
<ngx-ui-loader></ngx-ui-loader>
<p-dialog [closable]="false" [modal]="true"
[(visible)]="displayRiskNotice" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
  <ng-template pTemplate="header" >
  <span style="font-size: 24px;
  font-weight: 600;">
    <img src="assets/icon/warning.svg" class="wrn_icon_wdth"> MVP TESTING RISK NOTICE <img class="wrn_icon_wdth" src="assets/icon/warning.svg">
  </span>
  </ng-template>
  Rivera contracts are NOT audited yet.<br> You may lose ALL funds deposited into Rivera-powered strategy vaults.
  All funds deposited are subjected to smart contract risks, strategy execution failure risks, liquidation risks, liquidity risks, investment risks and more.<br>
  By continuing, you are acknowledging that you understand the risks involved.

  <ng-template pTemplate="footer" >
    <button class="btn btn-custom" (click)="closeWarningDialog()">Okay, I understand</button>
  </ng-template>
</p-dialog>

<p-dialog [closable]="false" [modal]="true"
[(visible)]="displayMetamaskWarningPopup" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
  <ng-template pTemplate="header" >
  <span style="font-size: 24px;
  font-weight: 600;">
    <img src="assets/icon/warning.svg" class="wrn_icon_wdth">Warning<img class="wrn_icon_wdth" src="assets/icon/warning.svg">
  </span>
  </ng-template>
  Please install metamask to continue.

  <ng-template pTemplate="footer" >
    <button class="btn btn-custom" (click)="displayMetamaskWarningPopup = false">Okay</button>
  </ng-template>
</p-dialog>

