<div class="container">

  <div class="mt-5">
    <div style="color: white;
    margin-left: 5px;
    margin-bottom: 30px;
    font-size: 22px;
    text-align: center;">Create auto-compounding vault</div>
    <div class="pTableCustom">
      <div style="padding-top: 40px;padding-left: 40px;font-size: 18px;">Select LP Pool to add liquidity </div>
  <p-table #dt1 [value]="lpList" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]" [loading]="loading">
    <ng-template pTemplate="header">
        <tr>
            <th>LP Pair</th>
            <th>DEX</th>
            <th pSortableColumn="apr">Farming APR<p-sortIcon field="apr"></p-sortIcon></th>
            <th>Liquidity</th>
            <th style="width:4rem"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-lp>
        <tr>
            <td>{{lp.lpSymbol}}</td>
            <td>Pancakeswap</td>
            <td>{{lp.apr}}</td>
            <td>{{lp.liquidity}}</td>
            <td>
              <button type="button" class="btn btn_cstm" (click)="selectProduct(lp)">Select <i class="fa fa-fighter-jet fnt_16 clr_white" aria-hidden="true" style="margin-left: 8px;"></i></button>
          </td>
        </tr>
    </ng-template>
</p-table>
</div>
</div>
</div>




<div
  class="modal fade"
  id="profile"
  tabindex="-1"
  role="dialog"
  aria-labelledby="profileModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content cust_modal">
      <div class="modal_close" data-dismiss="modal" aria-label="Close">
      </div>
      <div class="modal-body">
        <div data-dismiss="modal" aria-label="Close" class="modal_close" (click)="closePopup()">
          <i class="fa fa-times fr cursor_pointer" aria-hidden="true"></i>
        </div>
        <ng-container class="mb-2">
          <div class="mb-4">
            <span style="font-weight: 600; font-size: 18px"  >Create Vault</span >
          </div>
          <div>
            <form [formGroup]="valutCreateForm">
              <div class="form-group row mb-2">
                <label for="vaultName" class="col-sm-3 col-form-label">Vault Name</label>
                <div class="col-sm-9">
                  <input type="input" class="form-control" id="vaultName" placeholder="Vault Name" formControlName="vaultName">
                </div>
              </div>
              <div class="form-group row align-items-center">
                <label for="permission" class="col-sm-3 col-form-label">Permission</label>
                <div class="col-sm-4">
                  <!-- <p-radioButton name="groupname" value="val1" formControlName="permission">a</p-radioButton> -->
                  <label>
                    <input type="radio" value="private" formControlName="permission">
                      <span>Private</span>
                  </label>
                </div>
                <div class="col-sm-4">
                  <!-- <p-radioButton name="groupname" value="val2" formControlName="permission">b</p-radioButton> -->
                  <label>
                    <input type="radio" value="whitelisted" formControlName="permission" [attr.disabled]="true">
                      <span>Whitelisted</span>
                  </label>
                </div>
              </div>
              <div class="form-group row">
                <label for="vaultType" class="col-sm-3 col-form-label">Vault Type</label>
                <div class="col-sm-9">
                  <input type="text" readonly class="form-control-plaintext" id="vaultType" formControlName="vaultType">
                </div>
              </div>
              <div class="form-group row">
                <label for="lpPair" class="col-sm-3 col-form-label">LP Pair</label>
                <div class="col-sm-9">
                  <input type="text" readonly class="form-control-plaintext" id="lpPair" formControlName="lpPair">
                </div>
              </div>
              <div class="form-group row">
                <label for="protocol" class="col-sm-3 col-form-label">Protocol</label>
                <div class="col-sm-9">
                  <input type="text" readonly class="form-control-plaintext" id="protocol" formControlName="protocol">
                </div>
              </div>
              <div class="form-group row">
                <label for="chain" class="col-sm-3 col-form-label">Chain</label>
                <div class="col-sm-9">
                  <input type="text" readonly class="form-control-plaintext" id="chain" formControlName="chain">
                </div>
              </div>
              <div class="btn_pos mt-4 mb-2">
                <div> <button class="btn btn-custom" type="button" (click)="deploy()">Deploy</button></div>
                <div> <button class="btn btn-custom" type="button" (click)="closePopup()">Back</button></div>

              </div>
            </form>
          </div>
        </ng-container>
       <div>
       </div>

      </div>
    </div>
  </div>
</div>
