:host::ng-deep .p-datatable .p-datatable-header{
    background: transparent !important;
  }
  :host::ng-deep  input {
    border-radius: 10px;
    height: 35px;
    padding: 20px;
    background: #1e223f;
    border: 2px solid #2d325a;
    /* margin-right: 14px; */
}

:host::ng-deep .p-datatable.p-datatable-gridlines .p-datatable-header{
    border: none;
    // border-bottom: 1px solid;
}
:host::ng-deep thead{
    border: none;
    // border-bottom: 1px solid;
}
:host::ng-deep .p-datatable.p-datatable-gridlines .p-datatable-thead > tr > th{
    border: none;
}
.btn_cstm{
    border: 1px solid #8B54EA;
    border-radius: 10px;
    color: white;
    // width: 110px;
    height: 35px;
    align-items: center;
    display: flex;
    justify-content: center;
  }
